@media screen and (max-width:600px) {
    nav {
        flex-direction: column;
    }

    .design-1 {
        flex-direction: column;
    }

    .heading-1 {
        width: 480px;
        height: 480px;
        padding-top: 20px;
        background-position: center;
    }

    .heading-text {
        color: #FFF;
        font-family: Mulish;
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .heading-description {
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }

    .input-items {
        flex-direction: column;
    }

    .title-1 {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-top: 260px;
    }

    .img-1 {
        width: 335px;
        height: 342px;
        flex-shrink: 0;
    }

    .img-head {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-top: 250px;
    }

    .img-description {
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .image-section {
        flex-direction: column;
    }

    .image-section-1 {
        flex-direction: column;
    }

    .image-section-2 {
        flex-direction: column;
    }

    .img-head {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-top: 250px;
    }

    .heading-2 {
        flex-direction: column;
    }

    .image-section-3 {
        flex-direction: column;
    }

    .video-section {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    .footer {
        width: 375px;
        height: 309px;
        flex-shrink: 0;
    }




}